#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	# Create the virtualenv using dh-virtualenv
	dh_virtualenv --python=/usr/bin/python3

	# Install the project using pip (PEP 517), NOT setup.py
	. debian/flix-cli/opt/venvs/flix-cli/bin/activate && \
	    pip install --no-cache-dir .

